<!-- <h4>products List</h4>

<br/>
<br/>
<input type="text" placeholder="search" [(ngModel)]="search"/>
{{search}} -->
<button (click)="toggleBooks()">
  <ng-container *ngIf="!isShowing">Show Products</ng-container>
  <ng-container *ngIf="isShowing">Hide Products</ng-container>
</button>

<ul *ngIf="isShowing">
  <ng-container *ngFor="let productItem of products; let i=index">
    <li>
      <!-- <app-product [product]="productItem" (productEmitter)="addToCard($event)"></app-product> -->
      <app-product [product]="productItem"></app-product>
    </li>
  </ng-container>
</ul>
