<!-- <h4>products List</h4>

<br/>
<br/>
<input type="text" placeholder="search" [(ngModel)]="search"/>
{{search}} -->
<!-- <button (click)="toggleBooks()">
  <ng-container *ngIf="!isShowing">Show Products</ng-container>
  <ng-container *ngIf="isShowing">Hide Products</ng-container>
</button> -->

<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  <h2 class="sr-only">Products</h2>

  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <ng-container *ngFor="let productItem of products; let i=index">
       <!-- <app-product [product]="productItem" (productEmitter)="addToCard($event)"></app-product> -->
       <app-product [product]="productItem"></app-product>
    </ng-container>
  </div>
</div>